<!-- login form -->

<h2>The Price Marketplace</h2>
<p></p>
<p></p>
<p>Welcome to the Price Marketplace! Kindly log-in to access our price information service.</p>
<form action=".", method="POST">
{% csrf_token %}
{{ form }}

<button type="submit">Login</button>
</form> 

<!-- {% if form.errors %}
    <p class="error">Oops, that's not a valid username or password</p>
{% endif %}

<form method="POST" action=".">
     <label for='username'>Username:</label>
     <input type="text" name="username" value="" id="username">
     <label for='password'>Password:</label>
     <input type="password" name="password" value="" id="password">
     <input type="submit" value="login"/>
     <input type="hidden" name="next" value="{{next|escape}}"/>
</form>