<!-- About -->

{% extends "master.html" %}

{% block content %}
<!DOCTYPE HTML>
<html>
<head>
    <style>
        body {
            padding-top: 10%;
        }
    </style>
</head>

<body>
<strong>Describe your project or startup in a few words</strong>
<p>The Price Marketplace will reduce the provoking price variations across food markets in Nigeria. </br>How? Merchants will log in to update the price of their food items daily. Consumers will log in to see updated food prices. Government and research bodies will have food price data.
</p>

<strong>Overview of Carbon Emissions</strong>
<p>Anthropologic greenhouse gas (GHG) emissions from transport are key contributors to global climate change. </br>Carbon dioxide (CO2) represents the largest proportion of GHG emissions. Over the past three decades, CO2 emissions from transport have risen faster than those from all other sectors and are projected to rise more rapidly. </br> At present industrialized countries are the main sources of transport emissions. However, the proportion of emissions being produced in developing countries is increasing rapidly. </br>The majority of transport fuel emissions (76%) are from road transport, including four-wheeled vehicles and personal pickup trucks. Air travel produces around 12% of transport CO2 emissions and its share is growing rapidly.</p>
<strong>How the Price Marketplace App Creates Reduced Carbon Emissions</strong>
<p>The Price Marketplace will utilise both the Information and the Technology instruments of sustainable transportation to achieve reduced carbon emissions. The information instrument will come from users accessing commodity prices and, therefore, deciding when and where to go shopping. This will prevent unnecessary shopping activities and the corresponding transport-related emissions. 
Secondly, the technology instrument will come from users having map access to markets or stores of their choice. The maps could be improved to show traffic information, reducing time spent in transit to and from market visits, and reducing transport-related emissions. </p>

<strong>01. INTRODUCTION</strong>
<p>01.01 Describe your project in more detail</p>
<p>The Price Marketplace will be a platform where consumers and merchants can upload the prices at which they purchase and sell specific foodstuffs in their area or region. </br> The main idea is to reduce price discrepancies that are widely affecting Nigeria’s foodstuff market. Also, stores/markets with lower foodstuffs prices will be identifiable, saving consumers money. </p>

The marketplace will utilize price and location data inputted by users (merchant/consumer) to deliver suggestions on the “best time to shop specific foodstuffs”, “shortest routes to the cheapest stores/markets”, and so on. 

This will help reduce carbon emission/energy consumption since users will only go shopping when their desired foodstuffs are available at a market, and when the price is affordable by them. <p>In addition, they’ll be able to see the shortest routes available, cutting down transportation time. 
Governments at different levels can use the platform to gain an understanding of foodstuff availability and prices.</p>

<strong>How Does The Platform Guarantee Price Accuracy</strong>
<p>This platform is user-dependent. We believe the majority of users will find no use for providing false price information
Even if a couple of users try to or actually provide false information, the sheer number of those giving accurate<br>
 or more reliable information will shift the average displayed price of a food item properly. 
</p>
</body>
</html>
{% endblock %}